<div class="container-fluid" ng-controller="HomeController as vm">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    
                    <div class="row">
                        
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="vm.resumosPage()"><i
                                class="fa fa-list-alt fa-5x"></i><br><br>Resumos</button>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="vm.rendasPage()"><i
                                class="fa fa-money fa-5x"></i><br><br>Entradas</button>

                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="vm.investimentosPage()"><i
                                class="fa fa-bar-chart fa-5x"></i><br><br>Investimentos</button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="vm.usuariosPage()"><i
                                class="fa fa-users fa-5x"></i><br><br>Usuários</button>

                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="vm.gastosPage()"><i
                                class="fa fa-credit-card fa-5x"></i><br><br>Despesas</button>

                         </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="vm.opcionaisPage()"><i
                                class="fa fa-list-ol fa-5x"></i><br><br>Opcionais</button>
                        </div>
                    </div>
                        
                    
                </div>
            </div>
        </div>
    </div>
</div>