<nav ng-controller="HeaderCtrl" class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a href="" ng-click="navigate()" class="navbar-brand" style="padding-top: 20px; font-size: 20px;">My Control {{isAdministrador}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
           
            <ul class="nav navbar-nav" ng-if="isAuthenticated()">
                
                 <li class="dropdown" ng-if="isAuthenticated()">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                        aria-haspopup="true" aria-expanded="false">Cadastros <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        
                        <li style="height:40px;"><a style="height:40px; font-size: 16px;" 
                            href="/renda"><i class="fa fa-money" aria-hidden="true"></i>  Entradas</a></li>
                        <li style="height:40px;"><a style="height:40px; font-size: 16px;" 
                            href="/investimento"><i class="fa fa-bar-chart" aria-hidden="true"></i>  Investimentos</a></li>
                        <li style="height:40px;"><a style="height:40px; font-size: 16px;"
                            href="/investido"><i class="fa fa-list-ol" aria-hidden="true"></i>  Lançamentos</a></li> 
                        <li style="height:40px;"><a style="height:40px; font-size: 16px;"
                            href="/usuario"><i class="fa fa-user" aria-hidden="true"></i>  Usuários</a></li>      
                        <li style="height:40px;"><a style="height:40px; font-size: 16px;" 
                            href="/gasto"><i class="fa fa-credit-card" aria-hidden="true"></i>  Despesas</a></li>      
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                        aria-haspopup="true" aria-expanded="false">Extrato <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li style="height:40px;"><a style="height:40px; font-size: 16px;" 
                            href="/resumo"><i class="fa fa-list-alt" aria-hidden="true"></i>  Resumos</a></li>
                    </ul>
                </li>
            </ul>
            <ul ng-if="isAuthenticated()" class="nav navbar-nav navbar-right">
                <li><a href="#" ng-click="logout()" }>Logout</a></li>
            </ul>
            <ul ng-if="!isAuthenticated()" class="nav navbar-nav navbar-right">
                <li ng-class="{ active: isActive('/login')}"><a href="/login">Log in</a></li>
            </ul>
        </div>
    </div>
</nav>